@media (max-width: 1600px) {
    .time-sign{
        line-height: 70px;
    }
}
@media (max-width: 1440px) {
    .time-sign{
        line-height: 60px;
    }
}
@media (max-width: 1366px)  {
    .time-sign{
        line-height: 60px;
    }
}
.table-box{
    width: 100%;
    padding: 10px;
    overflow: hidden;
    height: calc(100% -  150px );
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.table-item{
    float: left;
}
.right-item{
    float: right;
}
.table-item,.right-item{
    width: calc(50% - 10px);
    height: 100%;
    min-height: 500px;
    box-shadow:0px 2px 15px 0px rgba(13,100,195,1);
    border-radius:6px;
    border:1px solid rgba(53,104,224,1);
}
.table-item table,.right-item table{
    width: 100%;
}
.table-item table th,.right-item table th{
    height:50px;
    line-height: 50px;
    color: #ffffff;
    background:rgba(53,104,224,0.5);
    border-bottom:1px solid rgba(53,104,224,1);
    font-size:1.4rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
}
.table-item table td,.right-item table td{
    height:50px;
    line-height: 50px;
    color: #ffffff;
    cursor: pointer;
    font-size:1.2rem;
    text-align: center;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    border-bottom:1px solid rgba(53,104,224,1);
}
.table-item table tbody tr:nth-child(even) td,
.right-item table tbody tr:nth-child(even) td{
    background:rgba(0,0,0,0.2);
}
.table-item table tbody tr:hover td,
.right-item table tbody tr:hover td{
    background:rgba(0,0,0,0.2);
}

.table-item table tbody tr td:first-child,
.right-item table tbody tr td:first-child
{
    color:rgba(255,187,56,1);
}
.table-item table .time{
    line-height: 1.5;
}
.table-item table .comment{
    display: block;
    max-width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#rightTable{
    width: 100%;
    height: 500px;

}
